In [27]:
import pandas as pd

In [28]:
df = pd.read_excel(r"C:\Users\Vignesh\Documents\GitHub\Student-Performance-Analytics\data\SEE5th21.xlsx")

In [29]:
print(df.columns)
df['SGPA'].fillna(df['Percent'] / 10, inplace=True)

Index(['Student Name', 'USN', 'Section', 'Semester', 'Batch', 'ATC(CIE)',
       'ATC (SEE)', 'ATC-CS (Total)', 'CN (CIE)', 'CN(SEE)', 'CN (Total)',
       'DBMS (CIE)', 'DBMS (SEE)', 'DBMS (Total)', 'AIML (CIE)', 'AIML (SEE)',
       'AIML (Total)', 'RM (CIE)', 'RM (SEE)', 'RM (Total)', 'Total',
       'Percent', 'SGPA', 'Result'],
      dtype='object')

C:\Users\Vignesh\AppData\Local\Temp\ipykernel_10624\887839205.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SGPA'].fillna(df['Percent'] / 10, inplace=True)

In [30]:
display(df)

,Student Name,USN,Section,Semester,Batch,ATC(CIE),ATC (SEE),ATC-CS (Total),CN (CIE),CN(SEE),...,AIML (CIE),AIML (SEE),AIML (Total),RM (CIE),RM (SEE),RM (Total),Total,Percent,SGPA,Result
0,Aarya B Anapur,4BD21CS001,A,5,2021,45,33,78,40,27,...,44,23,67,45,18,63,554,69.25,6.925,fail
1,Aashish Kumar Jha,4BD21CS002,B,5,2021,32,23,55,34,26,...,39,24,63,31,18,49,530,66.25,6.625,pass
2,Abhishek G M,4BD21CS003,C,5,2021,31,19,50,37,18,...,31,19,50,27,41,68,533,66.63,6.663,pass
3,Adarsh N,4BD21CS004,A,5,2021,38,32,70,39,31,...,41,38,79,37,37,74,619,77.38,7.738,pass
4,Adithi K A,4BD21CS005,B,5,2021,46,38,84,44,33,...,48,30,78,44,33,77,663,82.88,8.288,pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Shivsagar,4BD22CS414,A,5,2021,43,24,67,39,23,...,41,30,71,33,36,69,590,73.75,7.650,pass
200,Srujan K M,4BD22CS415,B,5,2021,41,32,73,45,21,...,41,32,73,35,29,64,623,77.88,8.110,pass
201,Suhas S M,4BD22CS416,C,5,2021,37,18,55,28,18,...,37,20,57,32,18,50,533,66.63,5.830,pass
202,Syed Zubair,4BD22CS417,A,5,2021,43,24,67,34,19,...,41,27,68,35,26,61,565,70.63,7.063,pass
203,Bharath R V,4BD22CS418,B,5,2021,0,0,0,0,0,...,0,0,0,0,0,0,2,0.25,0.025,fail

In [31]:
df.to_csv("SEE5th21.csv", index=False)